[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/haya14busa (haya14busa)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/haya14busa (haya14busa)
	label-Verified = -1..+1 group user/haya14busa (haya14busa)
	push = group user/haya14busa (haya14busa)
	read = group user/haya14busa (haya14busa)
	rebase = group user/haya14busa (haya14busa)
	removeReviewer = group user/haya14busa (haya14busa)
	submit = group user/haya14busa (haya14busa)
[access "refs/heads/*"]
	create = group user/haya14busa (haya14busa)
	push = +force group user/haya14busa (haya14busa)
	pushMerge = group user/haya14busa (haya14busa)
	read = group user/haya14busa (haya14busa)
[access "refs/tags/*"]
	push = group user/haya14busa (haya14busa)
	push = +force group user/haya14busa (haya14busa)
